
API_URL=/api/v1
API_URL_DEV=http://localhost:3000/api/v1

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_ID_DEV=


PAYPAL_CLIENT_ID=

WHATSAPP_URL=https://wa.me/51923095940
TIKTOK_URL=https://www.tiktok.com/@benicio.acosta.re
YOUTUBE_URL=https://www.youtube.com/@costaIAResearch
INSTAGRAM_URL=https://www.instagram.com/acostaresearch/
FACEBOOK_URL=https://www.facebook.com/bridgeacademicexperts/?locale=es_LA
SCHOLAR_URL=https://scholar.google.com/citations?hl=es&user=F3r4v0gAAAAJ
CTIVITAE_URL=https://ctivitae.concytec.gob.pe/appDirectorioCTI/VerDatosInvestigador.do?id_investigador=0316353
